# Dependencies
node_modules/

# Production build
dist/

token.txt

# OS files
.DS_Store
Thumbs.db
*.log

# Editor folders
.idea/
.vscode/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env